.main {
    background:#f8f9fe;
    max-height: 100%;
}
.main2 {
    display:flex;
    flex-direction: row;
}

.subMain {
    padding:50px;
    width:calc(100% - 220px);
    max-height:calc(100vh - 50px);
    overflow: scroll;
}
.main2 {
    max-height:100%;
    overflow:hidden;
}
.subMain > h1 {
    color:#154a85;
}
.form {
    display:flex;
    flex-direction: column;
    margin-top: 50px;

}
.sendQuestion {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:295px;
    height:50px;
    background-color: #76E27E;
    color: white;
    padding: 18px 70px 18px 70px;
    margin-top: 50px;
    cursor:pointer;
}
.sendQuestion:hover {
    transition:0.2s;
    background:#6BCE73;
}
.editbtn {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:295px;
    height:50px;
    margin-left:10px;
    background-color: #F9803B;
    color: white;
    padding: 18px 70px 18px 70px;
    margin-top: 50px;
    cursor:pointer;
}
.editbtn3 {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:50px;
    height:50px;
    background-color: #F9803B;
    color: white;
    padding: 18px 18px 18px 18px;
    margin-top: 50px;
    cursor:pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left:10px;
}
.editbtn3:hover {
    transition:0.2s;
    background:#C67342;
}
.editbtn3 img {
    width:25px;
}
.editbtn img {
    width:25px;
}
.editbtn:hover {
    transition:0.2s;
    background:#C67342;
}
.editbtn2 {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:50px;
    height:50px;
    background-color: #76E27D;
    color: white;
    padding: 18px 18px 18px 18px;
    margin-top: 50px;
    cursor:pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.editbtn2 img {
    width:25px;
}
.editbtn2:hover {
    transition:0.2s;
    background:#7BBD74;
}
.supprbtn {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:50px;
    height:50px;
    background-color: #EF6359;
    color: white;
    padding: 18px 18px 18px 18px;
    margin-top: 50px;
    cursor:pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left:10px;
}
.supprbtn img {
    width:25px;
}
.supprbtn:hover {
    transition:0.2s;
    background:#C5514A;
}
.themesInput {
    border : 1px solid #efefef;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    outline:none;
}
.chooseFile {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:200px;
    background-color: #1965FF;
    color: white;
    padding: 12px 30px 12px 30px;
    margin-left:15px;
    cursor:pointer;
}
.chooseFile:hover {
    transition:0.2s;
    background:#6b94ff;
}
.chooseFile2 {
    transition:0.2s;
    border-radius: 6px;
    border: none;
    width:200px;
    background-color: #1965FF;
    color: white;
    padding: 12px 30px 12px 30px;
    cursor:pointer;
}
.chooseFile2:hover {
    transition:0.2s;
    background:#6b94ff;
}
.textarea {
    transition:0.2s;
    border : 1px solid #efefef;
    padding: 15px;
    width: 280px;
    margin-top: 15px;
    border-radius: 5px;
    outline:none;
    margin-right:10px
}
.textarea2 {
    transition:0.2s;
    border : 1px solid #efefef;
    padding: 15px;
    min-width: 900px;
    max-width: 1300px;
    min-height:250px;
    max-height:500px;
    margin-top: 15px;
    border-radius: 5px;
    outline:none;
}