.darkmode--activated #sign {
    background: #1bb1f3 !important;
}
.darkmode--activated .logbox {
    background: #16191d !important;
}
.darkmode--activated .logbox input {
    background: #17191D;
}
.darkmode--activated .inscriptionMark {
    color : #651f00 !important;
}
.darkmode--activated header {
    background: #faab12 !important;
}
.darkmode--activated .background {
    mix-blend-mode: difference;
}
.profits-card button {
    width: 125px;
    height: 35px;
    color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background:#3d88ee;
    border:none;
    border-radius: 5px;
    margin-top:25px;
    cursor: pointer;
}
.liste {
    width:100%;
    margin-top:20px;
}
.liste p {
    margin-left:10px;
    text-align: left;
}
.liste li {
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
}
.profits-div {
    width:100vw;
    background: #FAF9F9;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:50px;
    margin-bottom:90px;
}
.profits-card {
    padding:30px 50px 30px 50px;
    width:200px;
    background:white;
    text-align: center;
    border-radius: 10px;
    margin:90px 25px 90px 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.profits-card h3 {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #000000;
}
.profits-card h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #3D88EE;
    padding-bottom:20px;
}
.profits {
    width:100vw;
    text-align: center;
    margin-top:200px;
}
.profits h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #3D88EE;
}
.illustration-anonyme {
    width:150px;
}
.anonymetext {
    text-align: left;
    padding-left:70px;
}
.anonymetext p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
}
.anonymetext h1 {
    font-weight: 300;
    color:#ff8d3d;
}
.anonymetext span {
    font-weight: normal
}
.profil-card .bottom {
    margin-top:100px;
    display:flex;
    flex-direction: row;
    padding-left:12.5%;
    padding-right: 12.5%;
    align-items: center;
}
.profil-card .bottom h1 {
}
.profil-card .bottom p {
}
.card > p {
    width:75%;
    text-align: left;
    margin-left:12.5%;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
}
.illustration-profil {
    width:65%;
}
.profil-card .card h2 span {
    font-weight: normal;
}
.profil-card .card h2 {
    color:#f4a640;
    font-size: 48px;
    font-weight: 300;
    margin-top:50px;
}
.profil-card .card {
    width:840px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow:hidden;
    text-align: center;
    background: #fbfbfb;
    padding-bottom: 50px;
    margin-top:250px;
}
.profil-card {
    display:flex;
    justify-content: center;
}
.scroll {
    margin-top:100px;
    width:150px;
}
.textcenter {
    width:100%;
    text-align: center;
}
.part2 .left h2 {
    color:#52c1c4;
    font-size:48px;
    font-weight: 300;
}
.part2 .left h2 span {
    font-weight: 400;
}
.part2 .left p {
    margin-top:50px;
    font-size:24px;
}
.part2 .left {
    margin-left: 150px;
    width:900px;
}
.part2 .right {
    margin-right:50px;
}
.part2 {
    margin-top:200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.part1 .right h2 {
    color:#9494ff;
    font-size:48px;
    font-weight: 300;
}
.part1 .right h2 span {
    font-weight: 400;
}
.part1 .right p {
    margin-top:50px;
    font-size:24px;
}
.part1 .right {
    margin-right: 150px;
    width:900px;
}
.part1 {
    margin-top:200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cover .left {
    margin-left:70px;
    width:40%;
    font-size:20px;
    color:white;
    padding-top:60px;

}
.cover .left h3 {
    color:antiquewhite;
    font-size:35px;
}
.cover .left p {
    font-weight:300;
}
.cover .right {
    padding-top:60px;

}

.cover .right img {
    width: 800px;
}
.cover {
    width:100vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.topPartError {
    display:flex;
    flex-direction: row;
    align-items: center;
}
.cover .background {
    isolation: isolate !important;
    width:100vw;
    height:900px;
    position: absolute;
    z-index: -5;
}
header {
    height:80px;
    width:100vw;
    background:#1864ff;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width:50px;
    height:50px;
}
header .left {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:50px;
}
header .left .name {
    font-size:26px;
    color:white;
    font-weight: bold;
    margin-top:20px;
    margin-left:10px;
}
header .right {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right:40px;
}
.button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}
.choiceTarif {
    transition: 0.5s;
}
.choiceTarif:hover {
    transition: 0.5s;
    background:#3E68B4;
}
.button:hover {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
}
#log {
    color:#1864ff;
    margin-left:10px;
    margin-right:10px;
    width:140px;
    height:40px;
    border-radius: 5px;
    border:none;
    font-size:17px;
    cursor:pointer;
    outline:none;
}
#connexion {
    margin-left:30px;
    margin-top:20px;
    font-size:25px;
    color:#154a85;
}
#sign {
    color:white;
    background:#e6654a;
    margin-left:10px;
    margin-right:10px;
    width:140px;
    height:40px;
    border-radius: 5px;
    border:none;
    font-size:17px;
    cursor:pointer;
    outline:none;
}
.modal-overlaySignin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-overlayLogin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logbox {
    background: #FCFCFC;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 99;
    width: 480px;
    height: 440px;
    display: flex;
    flex-direction: column;
}
.logoLogin {
    width: 50px;
    height:50px;
    margin-left:30px;
}
.topPop h1 {
    margin: 0;
    margin-top:20px;
    margin-left:10px;
    font-size:20px;
    color:#1072ff;
}

.logs button {
    transition:0.2s;
    margin-left:30px;
    width:190px;
    height:40px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top:1px;
    margin-top:30px;
    outline:none;
    box-shadow: none;
    cursor:pointer;
}
.logs button:first-child {
    border:none;
    background:#1965ff;
    color:white;
    border-radius: 20px;
}
.logs button:first-child:hover {
    transition:0.2s;
    background:#6b94ff;
}
.logs button:nth-child(2) {
    background:white;
    color:#1965ff;
    border:2px solid #1965ff;
    border-radius: 20px;
}
.logs button:nth-child(2):hover {
    transition:0.2s;
    background:#cfdfff;
    color:#1965ff;
}
.topPop {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:30px;
}
.textarea {
    border : 1px solid #efefef;
    padding: 15px;
    padding-left: 35px;
    width: 360px;
    margin-top: 15px;
    border-radius: 5px;
    height: auto;
    margin-left:30px;
}
#username {
    background-image: url(../../assets/icon/user.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 15px;
}
#pass {
    background-image: url(../../assets/icon/password.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 15px;
}
.ForgetPassword {
    margin-left:32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #A7A7A7;
    margin-top:50px;
}

.ForgetPassword a {
    text-decoration: none;
    color:#A7A7A7;
    font-weight: 500;
}

.ForgetPassword a:hover {
    border-bottom:1px solid grey;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}