.darkmode--activated .inscription {
    background: #CB9B55;
}
.darkmode--activated .leftSide {
    background :#0D0F11 !important;
}
.backgroundImage {
    background-image: url('../../assets/img/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    height: 700px;
    background-color: #1965FF;
    border-radius: 10px 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(138,138,138,1);
    box-shadow: 0px 0px 5px 0px rgba(138,138,138,1);
}
.leftSide {
    display: flex;
    flex-direction: column;
    width:360px;
    padding-left:20px;
    padding-right:20px;
    align-items: center;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    color: white;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo img {
    width: 35px;
    height:35px;
}
.rightSide {
    flex: 3;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;

}
.rightSide form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.textarea {
    transition:0.2s;
    border : 1px solid #efefef;
    padding: 15px;
    padding-left: 35px;
    width: 300px;
    margin-top: 15px;
    border-radius: 5px;
    outline:none;
}
.textarea2 {
    transition:0.2s;
    border: none;
    border : 1px solid #efefef;
    padding: 15px;
    padding-left: 35px;
    width: 270px;
    margin-top: 15px;
    border-radius: 5px;
    outline:none;
}
.textarea:focus {
    transition:0.2s;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
    box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
}
.textarea2:hover {
    transition:0.2s;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
    box-shadow: 0px 0px 3px -1px rgba(138,138,138,1);
}
#username {
    background-image: url(../../assets/icon/user.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 15px;
}
#pass {
    background-image: url(../../assets/icon/password.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 15px;
}
.connexion {
    transition:0.2s;
    border-radius: 40px;
    border: none;
    background-color: white;
    color: #1965ff;
    padding: 18px 70px 18px 70px;
    margin-top: 50px;
    cursor:pointer;
}
.connexion:hover {
    transition:0.2s;
    background:#CFDFFF;
}
#email {
    background-image: url(../../assets/icon/email.png);
    background-position: 10px 16px;
    background-repeat: no-repeat;
    background-size: 15px;
}
#password, #Cpassword {
    background-image: url(../../assets/icon/password.png);
    background-position: 10px 13.5px;
    background-repeat: no-repeat;
    background-size: 15px;
}
#prenom, #nom, #pseudo {
    background-image: url(../../assets/icon/user.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
    background-size: 15px;
}
.inscription {
    transition:0.2s;
    border-radius: 40px;
    border: none;
    background-color: #1965FF;
    color: white;
    padding: 18px 70px 18px 70px;
    margin-top: 50px;
    cursor:pointer;
}
.inscription:hover {
    transition:0.2s;
    background:#6b94ff;
}
.rightSide form > h1 {
    color: #154a85;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}
.logo p {
    margin-left: 5px;
    margin-top:10px;
    color: white;
    font-size:22px;
}
.leftSide h1 {
    margin-top: 90px;
}
.leftSide p {
    margin-top: 10px;
    margin-left:10px;
}
.leftSide > p {
    margin-left:20px;
    margin-top:40px;
}
.leftSide p:nth-child(5) {
    width:100%;
    padding-left:25px;
    text-align: left !important;
    color: #FF644D;
    display: block;
    height:20px;

}