.switch-component-wrapper {
    display:flex;
}
.switch-wrapper {
    width:44px;
    min-height: 22px;
    display:flex;
    cursor:pointer;
    border-radius:22px;
    align-items: center;
    padding:2px;
    transition: 0.5s;
}
.on {
    background: #C0FEBD;
    justify-content: flex-end;
}
.off {
    background: #D8D8D8;
    justify-content: flex-start;
}
.circle {
    background:white;
    width:18px;
    height:18px;
    border-radius: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
}